@import './colors.scss';

body {
    background-color: #fff;
    margin: 0;
    padding: 0;

    * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    .pull-right{
        float: right;
    }

    .content{
        width: 1200px;
        margin: 0 auto;

        @media screen and (max-width: 1250px){
            width: 100%;
            margin: 0 auto;
            padding: 0 20px;
        }
    }

    .primary-color{
        color: $primary-color
    }

    .stays-number{
        font-size: 14px;
        font-weight: normal;
        margin-top: 15px;
        color: $primary-text-color;
    }

    .hotel-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &::after{
            content: "";
            flex: auto;
        }
    }
}